.idea/*
.editorconfig
.coverage
/coverage
.DS_Store
.noseids
.happypack
*~
*.py[co]
*.sw[po]
*.sqlite
pip-log.txt
/docs/build
/static/build
/static/sprites
node_modules/
bower_components/
tmp/*
npm-debug.log
.revision
staticfiles.json
.vim/
/env
.mypy_cache/
.vscode
/venv/*
