{% extends 'base.html' %}
{% load static %}
{% block title %}
            <button class="btn" style="background-color: red" onclick="location.href='/main' ">Exit</button>
{% endblock %}
{% block content %}

    <style>
li {
    list-style-type: none;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}
    </style>

    {% for el in links %}
        <div align="center">
        <h4 style="margin-top: 50px">{{ el.created_at }}</h4>
            <ul style="color: white; font-size: 14px;margin-top: 2px;list-style: square outside">
                <li><b>Short url :http://127.0.0.1:8000/redirect/{{ el.slug }}</b></li>
                <li><b>{{ el.counter }} times</b></li>
                <li ><b>Full link :</b><a><i>{{ el.link }}</i></a></li>
                <a href="{% url 'delete' el.slug %}" class="btn" type="submit">Delete</a>
            </ul>
        </div>
    {% endfor %}
    <nav style=  "color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;">
     {% for el in links.paginator.page_range %}
          <div class="pagination"  style="
                position: fixed;
                left: 0; bottom: 0;
                padding: 5px;
                background: rgba(0,0,0,0.18);
                color: #fff;
                width: 100%;
                text-align-all: center">
                    <button class="btn" style="width: 5%" ><a href="?page={{ el }}">{{ el }}</a></button>
                </div>
     {% endfor%}
    </nav>
{% endblock %}